/* custom fonts */
@font-face {
	font-family:"FishFingers";
	src:url("../fonts/FishFingers/Fishfingers.eot?") format("eot"),url("../fonts/FishFingers/Fishfingers.woff") format("woff"),url("../fonts/FishFingers/Fishfingers.ttf") format("truetype"),url("../fonts/FishFingers/Fishfingers.svg#FISHfingers") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Helsinki";
	src:url("../fonts/Helsinki/helsinki.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
body{
	overflow: hidden;
}
#globe
{
	position: fixed; 
	left: 0px;
	top: 0px;
	}
#heading {
	text-align: center;
	font-size: 8em;
	font-family: 'FishFingers',"Open Sans";
}
#heading  #aarohi{
	color: #EF4423;
}
#heading  #version {
	color: #35505F;
}
#popup_content
{
	margin-top:3em;
	color:white;
	text-align:center;
}
button{
	cursor:pointer;
}
#social_media{
	position: fixed;
	vertical-align: left;
	margin-top: 6em;
	padding-left: 1em;


}
#social_media img {
	width:65px;
	height:65px;
		padding :0.4em;
}
#social_media img:hover  {
height:72px;
width:72px;
}
