/* custom fonts */
@font-face {
	font-family:"FishFingers";
	src:url("../fonts/FishFingers/Fishfingers.eot?") format("eot"),url("../fonts/FishFingers/Fishfingers.woff") format("woff"),url("../fonts/FishFingers/Fishfingers.ttf") format("truetype"),url("../fonts/FishFingers/Fishfingers.svg#FISHfingers") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Helsinki";
	src:url("../fonts/Helsinki/helsinki.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Signika";
	src:url("../fonts/Signika/Signika-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
body{
	overflow: hidden;
}
#loader{
	margin-top: 0;
	position: fixed;
	width:100%;
	height:100%;
	z-index: 9999;
	background: url(img/preloaders.jpg) center no-repeat #fff;
	background-size: cover;
}
#globe
{
	position: fixed;
	left: 0px;
	top: 0px;
	}
#popup_content
{
	margin-top: 3em;
	color:white;
}
button{
	cursor:pointer;
}

#social_media{
	z-index:2;
	position: fixed;
	vertical-align: left;
	margin-top: 7em;
	padding-left: 1em;


}
#social_media img {
	width:65px;
	height:65px;
		padding :0.4em;
}
#social_media img:hover  {
height:72px;
width:72px;
}
#dates{
	z-index:2;
		position: fixed;
		margin-top: 18em;
	vertical-align: center;
	padding-left: 1em;

}
#dates p{
	color: #384F56;
	font-weight: bold;
	font-family: 'FishFingers', 'Open Sans';
	font-size: 1.2em;
}
#dates sup{
	color: #384F56;
    font-size: 0.6em;
}
#dates span{
	color: #384F56;
  }